<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group name="auto">
      <ion-list-header>Auto Manufacturers</ion-list-header>
      <ion-item>
        <ion-label>Tesla</ion-label>
        <ion-radio value="tesla"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Ford</ion-label>
        <ion-radio value="ford"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

</ion-content>